.banner {
    overflow: hidden;
    
    .container-slid {
        padding: 150px 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;

        .title {
            h3 {
                font-size: 12px;
            }
    
            h2 {
                font-size: 46px;
            }
    
            .btn {
                font-size: 10px;
            }

            .btn:hover {
                background-color: #E66F3A;
                color: white;
            }
        }
    }
}