.banner {
    display: flex;
    align-items: center;
    height: 420px;
    // background-color: red;
    background-image: url(../static/images/cesta_verd.jpg);
    background-size: 100% 100%;
    z-index: 1;

    .title {
        display: flex;
        justify-content: center;
        width: 50%;


        h3 {
            font-size: 12px;
        }

        h2 {
            font-size: 46px;

        }

        .btn {
            font-size: 10px;
        }
    }

}