.carde {
    margin: 100px 0;

    .container {
        .title {
            text-align: center;
        }

        .primary {
            margin-bottom: 30px;
        }

        .cardes {
            display: flex;
            gap: 30px;

            .daughter {
                width: 100%;
                border: solid 1px #DAD7CD;

                figure {
                    max-width: 100%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .title_daugther {
                    text-align: center;
                    padding: 15px 15px 0 15px;
                }
            }
        }
    }
}

.carde_two {
    margin-bottom: 100px;

    .cardes_two {

        .slick-prev,
        .slick-next {
            z-index: 1;
            display: flex;
            background-color: #F8CB46;
            padding: 20px 20px;
            border-radius: 50%;
            color: black;
            text-align: center;
        }

        .slick-prev {
            left: auto;
        }

        .slick-next {
            right: 1px;
        }

        .daughter {
            width: 100%;
            border: solid 1px #DAD7CD;

            figure {
                img {
                    width: 250px;
                    height: 250px;
                }
            }

            .title_daugther {
                text-align: center;
                padding: 15px 15px 0 15px;
            }
        }

        .daughter:hover .title_daugther {
            position: relative;
            top: -50px;
            transition: 4s;
        }
    }

    .father-cards {
        display: flex;
        gap: 30px;
        margin-top: 50px;

        .maxCard {
            background-position: 100% 100%;
            width: 100%;
            height: 450px;
            border-radius: 10px;
            margin-top: 50px;

            .title_card {
                margin-top: 50px;
                display: block;
                text-align: center;

                h2 {
                    font-size: 32px;
                }
            }
        }

        .maxCard-one {
            background-image: url(../static/images/mx_one.jpg);
        }

        .maxCard-two {
            background-image: url(../static/images/mx_card2.jpg);
        }

        .maxCard-three {
            background-image: url(../static/images/mx_card3.jpg);
        }
    }
}