.shop_categories {
    margin: 100px 0;

    .title {
        text-align: center;
    }

    .container-fluid {
        .shop {
            display: flex;
            gap: 50px;
            overflow-x: scroll;
            scrollbar-width: thin;
            scrollbar-color: #686868 #424242;

            .card_categories {
                img {
                    border-radius: 50%;
                }

                p {
                   text-align: center;
                    margin-top: 20px;
                }

                p:hover {
                    color: #E66F3A;
                }
            }
        }
    }
}